<div class="page-body services-background">
<div class="page-body service profile-box">
    <h1 class="page-title">Service: <%=@service.name.capitalize %></h1>

    <h3>Description: <%=@service.description%></h3>
    <h3>Cost: <%=number_to_currency(@service.price)%></h3>

    <button class="ui button"><%= link_to "Edit this Service", edit_service_path%></button>
    <button class="ui button"><%= link_to "All Services", services_path%></button>

    <!-- <%= form_tag(service_path(@service), method: :delete) do %>
        <div>
            <button class="ui button delete-button"><% submit_tag%> Delete Service</button>
        </div>
    <% end %> -->
</div>
</div>