<div class="page-body user-login">
    <h1 class="page-title">Pet Owner Login</h1>

    <div>
    <%=flash[:notice]%>
    </div>

    <%= form_tag user_login_path, {:class => 'ui form'} do %>
        <div class="field field-shrink">
        <%= label_tag :username%>
        <%= text_field_tag :username %>
        </div>
        <div class="field field-shrink">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        </div>  
        <button class="ui button" type="submit">Login</button>
       
    <% end %>
    <button class="ui button create-button"><%= link_to "Create Account", new_user_path %></button>
   
</div>


