<div class="page-body petxpert-new-edit-background">
    <div class="page-body petxpert-form profile-box">
    <h1 class="page-title">Edit <%=@petxpert.name.capitalize%>'s Profile</h1>

    <%= form_for @petxpert, html: {class: 'ui form'}  do |f| %>
        <div class="">
        <%= f.label :name%>
        <%= f.text_field :name %>
        </div>
        <div class="">
        <%= f.label :username%>
        <%= f.text_field :username %>
        </div>
        <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
        </div>
        <div class="field">
        <%= f.label :description, "About Me"%>
        <%= f.text_area :description %>
        </div>
        <div class="field">
        <%= f.label :location %>
        <%= f.collection_select :location_id, Location.all, :id, :city %>
        </div>
        <div class="field">
        <%= f.label :services %>
        <%= f.collection_check_boxes :service_ids, Service.all, :id, :name%>
        </div>
        <button class="ui button" type="submit">Update Profile</button>
    <% end %>

    </div>
</div>