<div class="page-body petxpert-new-edit-background">
<h1 class="page-title">Edit <%=@petxpert.name.capitalize%>'s PetXpert Profile</h1>

<%= form_for @petxpert, html: {class: 'ui form'}  do |f| %>
    <div class="field field-shrink">
    <%= f.label :name%>
    <%= f.text_field :name %>
    </div>
    <div class="field field-shrink">
    <%= f.label :username%>
    <%= f.text_field :username %>
    </div>
    <div class="field field-shrink">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>
    <div class="field field-shrink">
    <%= f.label :description, "About Me"%>
    <%= f.text_area :description %>
    </div>
    <div class="field field-shrink">
    <%= f.label :location %>
    <%= f.collection_select :location_id, Location.all, :id, :city %>
    </div>
    <div class="field field-shrink">
    <%= f.label :services %>
    <%= f.collection_check_boxes :service_ids, Service.all, :id, :name%>
    </div>
    <button class="ui button" type="submit">Edit Profile</button>
<% end %>

</div>