<h1>Meet Your PetXpert: <%=@petxpert.username %></h1>

<h2>Name: <%=@petxpert.name.capitalize%></h2>
<h2>Bio: <%=@petxpert.description%></h2>
<h2>Location: <%=@petxpert.location.city%></h2>
<h2>Services:
    <ul>
        <% @petxpert.services.each do |service|%>
        <li><%= link_to service.name, service_path(service) %></li>
        <% end %>
    </ul>
</h2>

<% if current_petxpert == @petxpert %>
    <h2>Scheduled Appointments:</h2>
        <ul>
        <% @petxpert.appointments.each do |appointment|%>
        <li><%= link_to "#{appointment.written_date} - #{appointment.pet.name}", appointment_path(appointment)%> </li>
        <% end %>
        </ul>

    <h4><%= link_to "Edit this PetXpert", edit_petxpert_path%></h4>
    <h4><%= link_to "Return to PetXperts", petxperts_path%></h4>

    <%= form_tag(petxpert_path(@petxpert), method: :delete) do %>
        <div>
        <%= submit_tag "Delete this PetXpert" %>
        </div>
    <% end %>
<% end %>