<%= form_for @pet do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :species %>
    <%= f.text_field :species %>
    </div>
    <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
    </div>
    <div>
    <%= f.label :description, "Additional Information" %>
    <%= f.text_area :description %>
    </div>
    <div>
    <%= f.submit %>
<% end %>