<div class="page-body new-background">
    <h1 class="page-title">Add Pet Profile</h1>

        <% if @pet.errors %>
        <ul class = "error_list" %>
        <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    <% end %>

    <%= form_for @pet, html: {class: 'ui form'}  do |f| %>
    <div class="field field-shrink">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div class="field field-shrink">
    <%= f.label :species %>
    <%= f.text_field :species %>
    </div>
    <div class="field field-shrink">
    <%= f.label :age %>
    <%= f.number_field :age %>
    </div>
    <div class="field field-shrink">
    <%= f.label :description, "Additional Information" %>
    <%= f.text_area :description %>
    </div>
    <button class="ui button" type="submit">Create Pet Profile</button>
<% end %>
</div>