 <% if @pet.species == ("dog" || "Dog") %>
    <div class="pet-dog">
 <% elsif @pet.species == ("cat" || "Cat") %>
    <div class="pet-cat">
 <% else %>
    <div class="pet-default">
 <% end %>


   <div class="page-body">
        <h1 class="page-title"><%=@pet.name.titleize%>'s Profile</h1>

        <h2>Owner: <%=link_to @pet.user.username, user_path(@pet.user)%></h2>
        <h2>Species: <%=@pet.species%></h2>
        <h2>Age: <%=@pet.age%></h2>
        <h2>Bio: <%=@pet.description%></h2>

        <% if current_user == @pet.user %>
            <%= link_to "Edit this Pet", edit_pet_path(@pet)%>

            <%= form_tag(pet_path(@pet), method: :delete) do %>
                <div>
                <%= submit_tag "Delete Pet Profile" %>
                </div>
            <% end %>
        <% end %>
    </div> 
</div>