 <% if @pet.species == ("dog" || "Dog") %>
    <div class="pet-dog">
 <% elsif @pet.species == ("cat" || "Cat") %>
    <div class="pet-cat">
 <% else %>
    <div class="pet-default">
 <% end %>


   <div class="page-body">
    <div class="page-body pet profile-box">
        <h1 class="page-title"><%=@pet.name.titleize%>'s Profile</h1>

        <h3>Owner: <%=link_to @pet.user.username, user_path(@pet.user)%></h3>
        <h3>Species: <%=@pet.species%></h3>
        <h3>Age: <%=@pet.age%></h3>
        <h3>Bio: <%=@pet.description%></h3>

        <% if current_user == @pet.user %>
            <button class="ui button"><%= link_to "Edit this Pet", edit_pet_path(@pet)%></button>

            <%= form_tag(pet_path(@pet), method: :delete) do %>
                <div>
                    <button class="ui button delete-button"><%submit_tag%>Delete Pet Profile</button>
                </div>
            <% end %>
        <% end %>
    </div> 
    </div>
</div>