<div class="page-body user-show-background">
    <h1 class="page-title"><%=@user.username %>'s Profile</h1>

    <h3>Name: <%=@user.name.titleize%></h3>
    <h3>Address: <%=@user.address%></h3>
    <h3>Location: <%=@user.location.city%></h3>

    <h3>Pets:</h3>
    <ul>
        <% @user.pets.each do |pet| %>
        <li><%= link_to pet.name, pet_path(pet) %></li>
        <% end %>
    </ul>

    <% if current_user == @user %>
        <h3>Scheduled Appointments:</h3>
            <ul>
            <% @user.appointments.each do |appointment|%>
            <li><%=link_to "#{appointment.written_date} - #{appointment.pet.name}", appointment_path(appointment)%></li>
            <% end %>
            </ul>

            <button class="ui button"><%= link_to "+ Pet", new_pet_path%></button>
            <button class="ui button"><%= link_to "+ Appointment", new_appointment_path%></button>
            <button class="ui button"><%= link_to "Edit Profile", edit_user_path%></button>
        
            <%= form_tag(user_path(@user), method: :delete) do %>
            <div>
                <button class="ui button delete-button"><%submit_tag%>Delete</button>
            </div>
        <% end %>
    <% end %>
</div>