<h1>Make an Appointment</h1>

<%= form_tag create_appointment_path do %>
<div>
    <%= label_tag :pet_id, "Pet:" %>
    <%= select_tag :pet_id, options_from_collection_for_select(@user.pets, :id, :name) %>
    </div>
    <div>
    <%= label_tag :service_id, "Service:" %>
    <%= select_tag :service_id, options_from_collection_for_select(Service.all, :id, :name) %>
    </div>
    <div>
    <%= label_tag :date, "Date:" %>
    <%= date_field_tag :date %>
    </div>
    <div>
    <%= label_tag :time, "Time:" %>
    <%= time_select :appt_time, :time %>
    </div>
    <%= submit_tag "Continue" %>
    <% end %>