<div class="page-body appointment-background">
<div class="page-body appointment profile-box">  
    <h1 class="page-title">Scheduled Appointment</h1>
    <h3>Pet: <%=@appointment.pet.name%></h3>
    <h3>Date: <%= @appointment.written_date%></h3>
    <h3>Time: <%= @appointment.written_time%></h3>
    <h3>Service: <%=@appointment.service.cap_service_name%></h3>
    <h3>PetXpert: <%=link_to @appointment.petxpert.name, petxpert_path(@appointment.petxpert)%></h3>
    <h3>Cost: <%=number_to_currency(@appointment.service.price)%></h3>


    <button class="ui button"><%= link_to "Edit Appointment", edit_appointment_path %></button>

    <%= form_tag(appointment_path(@appointment), method: :delete) do %>
        <button class="ui button delete-button"><% submit_tag%>Delete Appointment</button>
    <% end %>
   
</div>
</div>