<!DOCTYPE html>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <span><%= link_to "Home", homepage_path %></span>
    <span><%= link_to "Cities", locations_path%></span>
   
    <% if session[:user_id] %>
      <span><%= link_to "My Account", user_path(session[:user_id])%></span>
      <span><%= link_to "Logout", user_logout_path %></span>
    <% else %>
      <span><%= link_to "Client Log In", user_login_path %></span>
      <span><%= link_to "PetXpert Log In", petxpert_login_path%></span>
    <% end %>
      
  </div>
    <%= yield %>
  </body>
</html>
