<!DOCTYPE html>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body>

    <div class="ui secondary menu">
    
      <span class="nav-link"><%= link_to "HOME", homepage_path %></span>
      <span class="nav-link"><%= link_to "CITIES", locations_path%></span>

      <div class="right menu"> 
          <% if session[:user_id]%>
            <span class="nav-link"><%= link_to "MY ACCOUNT", user_path(session[:user_id])%></span>
            <span class="nav-link"><%= link_to "LOGOUT", logout_path %></span>
          <% elsif session[:petxpert_id]%>
            <span class="nav-link"><%= link_to "MY ACCOUNT", petxpert_path(session[:petxpert_id])%></span>
            <span= class="nav-link"><%= link_to "LOGOUT", logout_path %></span>
          <% else %>
            <span class="nav-link"><%= link_to "PET OWNER LOGIN", user_login_path %></span>
            <span class="nav-link"><%= link_to "PETXPERT LOGIN", petxpert_login_path%></span>
          <% end %>  
      </div>
    </div>
  
 
    
   
    
  <div>
    <% if flash[:warning1]%>
      <div class = "warning"><%= flash[:warning1]%></div>
    <% end %>
    <% if flash[:warning2]%>
      <div class = "warning"><%= flash[:warning2]%></div>
    <% end %>
  </div>  
  
    <%= yield %>
  </body>
</html>
