<!DOCTYPE html>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <span><%= link_to "Home", homepage_path %></span>
    <span><%= link_to "Cities", locations_path%></span>
   
    <% if session[:user_id]%>
      <span><%= link_to "My Account", user_path(session[:user_id])%></span>
      <span><%= link_to "Logout", logout_path %></span>
    <% elsif session[:petxpert_id]%>
      <span><%= link_to "My Account", petxpert_path(session[:petxpert_id])%></span>
      <span><%= link_to "Logout", logout_path %></span>
    <% else %>
      <span><%= link_to "Pet Owner Login", user_login_path %></span>
      <span><%= link_to "PetXpert Login", petxpert_login_path%></span>
    <% end %>

    <% if flash[:warning]%>
    <div class = "warning"><%= flash[:warning]%></div>
    <% end %>
      
  </div>
    <%= yield %>
  </body>
</html>
