<!DOCTYPE html>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", homepage_path %>
    <%= link_to "Cities", locations_path%>
    <%= link_to "Client Log In", user_login_path %>
    <%= link_to "PetXpert Log In", petxpert_login_path%>
    <%= yield %>
  </body>
</html>
